{%- set dates = page.meta._mx.document_dates.dates %}
{%- set authors = page.meta._mx.document_dates.authors %}
{%- if dates or authors -%}
<div class="document-dates-plugin">
  {%- if dates %}
  <div class="dd-left">

    {#- Render date of creation -#}
    {%- if dates.created %}
    <span class="dd-item" data-tippy-content data-tippy-raw="{{ dates.created[:10] }}">
      <span class="material-icons" data-icon="doc_created"></span>
      <time datetime="{{ dates.created }}"></time>
    </span>
    {%- endif %}

    {#- Render date of last update -#}
    {%- if dates.updated %}
    <span class="dd-item" data-tippy-content data-tippy-raw="{{ dates.updated[:10] }}">
      <span class="material-icons" data-icon="doc_updated"></span>
      <time datetime="{{ dates.updated }}"></time>
    </span>
    {%- endif %}
  </div>
  {%- endif %}
  
  {#- Render authors -#}
  {%- if authors %}
  <div class="dd-right">
    {%- set icon = 'doc_author' if authors|length == 1 else 'doc_authors' %}
    <span class="material-icons" data-icon="{{ icon }}"></span>
    <div class="author-group">
    {%- for author in authors %}
      {%- set tooltip -%}
        {%- if author.url -%}
          <a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
        {%- elif author.email -%}
          <a href="mailto:{{ author.email }}">{{ author.name }}</a>
        {%- else -%}
          {{ author.name }}
        {%- endif -%}
      {%- endset -%}

      {#- AVATAR mode #}
      <div class="avatar-wrapper" data-name="{{ author.name }}" data-tippy-content data-tippy-raw='{{ tooltip }}'>
        <span class="avatar-text"></span>
        <img class="avatar" data-src="{{ author.avatar }}" data-email="{{ author.email }}" />
      </div>

      {#- TEXT mode #}
      {#-
      <span class="text-wrapper" data-tippy-content data-tippy-raw='{{ tooltip }}'>{{ tooltip }}</span>
      {%- if not loop.last -%},&nbsp;&nbsp;{%- endif -%}
      -#}

    {%- endfor %}
    </div>
  </div>
  {%- endif %}
</div>
{%- endif -%}
